* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    gap: 7px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;


}

.navbar__s1 h1 {
    color: #892DE1;
}

.navbar__s2 {
    border: solid black 1px;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 10px;
    padding: 12px;
    display: flex;
    flex: 1;
    align-items: center;
}

.navbar__s2 input {
    width: 100%;
    border: none;
    font-size: 15px;
    outline: none;
    margin-left: 10px;
}

.navbar__s3 {
    font-size: 16px;
    display: flex;
    padding: 10px;
    gap: 18px;
    align-items: center;
}

.navbar__s4 {
    display: none;
}

.learning {
    position: relative;
    cursor: pointer;
}

.learning_popup {
    position: absolute;
    background-color: white;
    border: black solid 1px;
    width: 110px;
    padding: 10px;
    right: 0px;
    top: 30px;
    background-color: white;
    color: #892DE1;
    border-radius: 10px;
    display: none;
}

.learning:hover .learning_popup {
    display: block;
}



.Catogries {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;
}

.Catogries p {
    background-color: #892DE1;
    color: white;
    padding: 15px;
    border-radius: 30px;
    align-items: center;
    border: #892DE1 solid 1px;
}

.Catogries p:hover {
    background-color: white;
    border: #892DE1 solid 1px;
    color: black;
    cursor: pointer;
}

.sale__image {
    position: relative;
}

.sale__image img {
    width: 100%;
}

.sale__image-offer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50px;
    left: 30px;
    background-color: white;
    border: solid black 2px;
    padding: 20px;
    width: 40%;
    height: 110px;
    display: flex;
    border-radius: 10px;
    animation-name: zoom;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.button {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;


}

.button1 {
    background-color: #892DE1;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;



}

.button2 {
    background-color: white;
    color: #892DE1;
    font-weight: 600;
    border: solid black 1px;
    border-radius: 5px;
    padding: 8px;
    margin-left: 10px;

}

.Recommended {
    padding: 10px;

}

.Recommended__container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;

}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;

}

.course-card img {
    width: 100%;
    height: 55%;

}

.Topics {
    padding: 15px;

}

.Topics__available {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;


}

.Topics__available p {
    border: solid black 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.popular-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}


.Fotter {
    background-color: black;
    color: white;
    padding: 30px;
}

.Fotter-one {
    display: flex;
    gap: 60px;
}

.Fotter-two {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

}

.Fotter-one p {
    padding: 7px;
}

/*media Queries*/
@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    body {
        font-size: 10px;
    }

    .Catogries {
        display: none;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    .course-card {
        flex-basis: 40%;
    }

    .sale__image-offer {
        display: none;
    }
    .navbar__s4 {
        display: block;
    }
}